<p>dashboard-new-list works!</p>
<form action="" class="formNew">
  <div class="field">
    <input type="text"  name="title" id="title" [(ngModel)]="title" placeholder="Title"/>
    <label for="title" clas="labelTitle">Title</label>
  </div>

  <div class="field">
      <input type="text" name="description" id="description" [(ngModel)]="description" placeholder="Description"/>
      <label for="description">Discription</label>
    </div>

    <div class="buttonCenter">
    <button (click)="addNew()" class="button butAdd">Add</button>
  </div>
</form>
