
<h1 *ngIf="(data | json) as items">{{data.title}}</h1>

<form action="" class="formNew">
  <div class="field">
    <input type="text" name="description" [(ngModel)]='description' placeholder="Description">
    <label for="description">Discription</label>
  </div>
  <div class="buttonCenter">
    <button (click)="addItem()" class="button butAdd">Add</button>
  </div>
</form>

<ul class="items haut" *ngIf="list as items">
<h3>Todo</h3>
<ul class="items" *ngIf="list as items">
    <li *ngFor="let item of items">
        <div class="itemsContenair">
          <div class="input">
            <input type="checkbox" [checked]="isChecked">
              <span>{{item.description}}</span>
          </div>

        <div class="itemsIcons">X</div>
      </div>
        <div class="itemsInfo">
         <span class="status">to : {{item.status}}</span>
         <span class="addeBy">from : {{item.addeBy}}</span>
         <span class="addTime">at : {{item.addTime}}</span>

        </div>
    </li>
</ul>

<div>
<h3>Users</h3>
    <select [(ngModel)]="user" *ngIf="allUsers as users">
        <option *ngFor="let user of users" [class.disabled]="userEmail === user.email" value="{{user._id}},{{user.email}}">({{user.firstname}})==>{{user.email}}</option>
    </select>
    <button (click)="addUser()">Add</button>
</div>
<ul class="items" *ngIf="group as items">
    <li *ngFor="let item of items">
        <span class="badge"></span>{{item.userEmail}}
    </li>
</ul>

