<p>dashboard-list-view</p>
<button (click)="newList()">New</button>
{{message}}
<ul class="items" *ngIf="data as items">
    <div *ngFor="let item of items">
        <div *ngFor="let i of item.group">
            <div *ngIf="i.userEmail === userEmail" >
                <li>
                    <div (click)="onSelect(item)" class="li"> <span class="badge"></span>{{item.title}}</div>
                    <button (click)="delete(item._id)" class="delete">Delete</button>
                </li>
            </div>
        </div>
    </div>
<ng-template>
</ng-template>
</ul>