<h1>Register page!</h1>
<form #registerForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

    <div>
        <label for="firstname"  >First name</label>
        <input name="firstname" required #name="ngModel" [(class.invaled)]="name.invalid && name.touched" class="form-control" type="text" [(ngModel)]="registerModel.firstname"/>
    </div>
    {{name.valid}}
    <div>
        <label for="lastname">Last name</label>
        <input name="lastname" type="text" [(ngModel)]="registerModel.lastname"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input name="email" type="email" [(ngModel)]="registerModel.email"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" type="password" [(ngModel)]="registerModel.password"/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

